APP_ENVIRONMENT="release"

HTTP_SERVER_HOST="0.0.0.0"
HTTP_SERVER_PORT=8001
HTTP_SERVER_GRACE_PERIOD=15
HTTP_SERVER_REQUEST_TIMEOUT_PERIOD=10

PASETO_ISSUER="go-microservice"
PASETO_SECRET_KEY="super-secret"
PASETO_ALLOWED_ALGS="HS256"
PASETO_TOKEN_DURATION=1440

AUTH_SERVICE_URL=http://auth-service:8001
PRODUCT_SERVICE_URL=http://product-service:8001
ORDER_SERVICE_URL=http://order-service:8001

LOGGER_LEVEL=-1
