VITE_APP_TITLE='Go Micro Commerce'
VITE_API_GATEWAY_URL='http://localhost:8080'
VITE_GRAPHQL_GATEWAY_URL='http://localhost:8080/graph'
VITE_GRAPHQL_SUBSCRIPTION_WS_URL='ws://localhost:8080/graph/subscriptions/ws'
VITE_GRAPHQL_SUBSCRIPTION_SSE_URL='http://localhost:8080/graph/subscriptions/sse'
VITE_STRIPE_PUBLISHABLE_KEY=
