APP_ENVIRONMENT="development"
SERVICE_NAME="product-service"

HTTP_SERVER_HOST="0.0.0.0"
HTTP_SERVER_PORT=8082
HTTP_SERVER_GRACE_PERIOD=15
HTTP_SERVER_REQUEST_TIMEOUT_PERIOD=10

DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT=25432
DB_USERNAME="postgres"
DB_SSL_MODE="disable"
DB_MAX_IDLE_CONN=10
DB_MAX_OPEN_CONN=32
DB_CONN_MAX_LIFETIME=60

KAFKA_BROKERS="kafka-1:9092,kafka-2:9092,kafka-3:9092"
KAFKA_RETRY_MAX=3
KAFKA_FLUSH_FREQUENCY=500
KAFKA_RETURN_SUCCESS=true

LOGGER_LEVEL=-1

# Consul Service Discovery Configuration
CONSUL_ENABLED=true
CONSUL_ADDRESS=localhost:8500
SERVICE_NAME=product-service
SERVICE_HOST=192.168.0.107
