SMTP_HOST="mailhog"
SMTP_PORT="1025"
SMTP_EMAIL="no-reply@gomicroservices.com"

PASETO_ISSUER="go-microservice"
PASETO_SECRET_KEY="super-secret"
PASETO_ALLOWED_ALGS="HS256"
PASETO_TOKEN_DURATION=1440

ORDER_URL="http://gateway:8001/orders"
