{
  "argocd_admin_password": "",
  "github_username": "",
  "github_token": "",
  "sendgrid_api_key": "",
  "grafana_admin_password": "",
  "redis_cluster_password": "",
  "auth_service_jwt_private_key_file": "jwt-key",
  "auth_service_jwt_public_key_file": "jwt-key.pub",
  "payment_stripe_secret_key": "",
  "payment_stripe_webhook_secret": ""
}
