{
  "argocd_admin_password": "",
  "github_username": "",
  "github_token": "",
  "sendgrid_api_key": "",
  "grafana_admin_password": "",
  "redis_cluster_password": "",
  "auth_service_jwt_private_key_file": "jwt-key",
  "argocd_git_ssh_private_key_file": "argocd-git-key",
  "payment_stripe_secret_key": "",
  "payment_stripe_webhook_secret": "",
  "auth_pg_password": "",
  "cart_pg_password": "",
  "chat_pg_password": "",
  "fulfillment_pg_password": "",
  "notification_pg_password": "",
  "order_pg_password": "",
  "payment_pg_password": "",
  "product_pg_password": ""
}
